body {
    background-color: #fabe24;
    color: #faefc2;
    width: 200vw;
}

.grow:hover {
    font-size: large;
}

footer {
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
