* {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: black;
    text-align: center;
    width: 100;
    position: relative;
    top: 40vh;
    font-size: 5rem;

}

body {
    background-color: #fabe24;
    color: #faefc2;
    width: fit-content;
    min-width: 100vw;
}

.grow:hover {
    font-size: large;
}

footer {
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
