* {
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 200;
  font-style: normal;
  margin: 0px;
}

body {
  background-color: #fabe24;
  color: #faefc2;
  height: 100vh;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: #faefc2;
  margin: 5px;
}

/* Song title */
.bruno {
  text-align: center;
}

.bruno span {
  color: black;
  display: block;
}

.text1:hover {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 25px;
  margin-bottom: 20px;
  background: #faefc2;
  position: relative;
  animation: text 3s;
}

.text2 {
  font-size: 30px;
  color: black;
}

@keyframes text {
  0% {
    color: #faefc2;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 2px;
    margin-bottom: -40px;
  }
}
/* Intro */

.slide {
  animation-duration: 2s;
  animation-name: slide;
  animation-fill-mode: backwards;
}
.delay-2 {
  animation-delay: 2s;
}
.delay-3 {
  animation-delay: 3s;
}
.delay-4 {
  animation-delay: 4s;
}
.delay-4-5 {
  animation-delay: 4.5s;
}
.delay-5 {
  animation-delay: 5s;
}
.delay-6 {
  animation-delay: 6s;
}
.delay-9 {
  animation-delay: 9s;
}
.delay-9-5 {
  animation-delay: 9.5s;
}
.delay-10 {
  animation-delay: 10s;
}
.delay-11 {
  animation-delay: 11s;
}
.delay-12 {
  animation-delay: 12s;
}
.delay-14 {
  animation-delay: 14s;
}
.delay-14-5 {
  animation-delay: 14.5s;
}
.delay-15 {
  animation-delay: 15s;
}
.delay-16 {
  animation-delay: 16s;
}
.delay-17 {
  animation-delay: 17s;
}
.delay-18 {
  animation-delay: 18s;
}
.delay-21-5 {
  animation-delay: 21.5s;
}
.delay-21 {
  animation-delay: 21s;
}
.delay-22 {
  animation-delay: 22s;
}
.delay-25 {
  animation-delay: 25s;
}
.delay-27 {
  animation-delay: 27s;
}
.delay-30 {
  animation-delay: 30s;
}
.delay-32 {
  animation-delay: 32s;
}
.delay-37 {
  animation-delay: 37s;
}

@keyframes slide {
  from {
    translate: 150vw 0;
  }
  to {
    translate: 0 0;
  }
}

.lastword {
  display: inline-block;
  animation-name: grow, slide;
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes grow {
  25% {
    font-size: 25px;
  }

  50% {
    font-size: 50px;
  }
  100% {
    font-size: 30px;
    text-shadow: #faefc2 1px 0 10px;
  }
}

@keyframes scroll {
  0% {
    translate: 150vw 0;
  }
  25% {
    translate: 0 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bounce {
  display: inline-block;
  font-size: 25px;
  animation-name: bounce;
  animation-delay: 3s;
  animation-duration: 2s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY -30px;
  }
  60% {
    tranform: translateY (-15px);
  }
}

.rotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Chorus */
.scroll {
  position: absolute;
  width: 100vw;
  animation-name: scroll;
  animation-duration: 8s;
  animation-fill-mode: both;
}
.scroll1 {
  position: absolute;
  width: 100vw;
  animation-name: scroll;
  animation-duration: 8s;
  animation-fill-mode: both;
}
@keyframes scroll1 {
    0% {
      translate: 150vw 0;
    }
    25% {
      translate: 0 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.scroll2 {
  position: absolute;
  width: 100vw;
  animation-name: scroll;
  animation-duration: 8s;
  animation-fill-mode: both;
}
@keyframes scroll2 {
    0% {
      translate: 150vw 0;
    }
    25% {
      translate: 0 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.flash {
  animation-name: flash;
  animation-fill-mode: both;
  animation-duration: 1s;
  position: absolute;
  left: 50vw;
  top: 50vh;
}

@keyframes flash {
  0% {
    text-shadow: none;
    opacity: 0;
  }
  50% {
    text-shadow: #ffffff 0 0 10px, #ffffff 0 0 20px, #ffffff 0 0 30px,
      #ffffff 0 0 40px, #ffffff 0 0 50px;
    font-size: 80px;
    opacity: 1;
  }
  100% {
    text-shadow: none;
    opacity: 0;
  }
}

footer {
  color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Permanent Marker", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: small;
}

/* Bridge */

.swipe {
  position: absolute;
  width: 100vw;
  height: 40vh;
  animation-name: swipe;
  animation-duration: 8s;
  animation-fill-mode: both;
}

@-webkit-keyframes swipe {
  0% {
    -webkit-transform: translateY(150vh);
  }
  50% {
    -webkit-transform: translateY(25vh);
  }
  75% {
    -webkit-transform: translateY(25vh);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
}

/* Chorus - Same Animations as the first chorus */

/* Outro */

.outro {
  animation-name: scroll, grow;
  animation-duration: 5s;
  animation-fill-mode: both;
}
.emphasize {
  animation-name: emphasize, slide;
  animation-fill-mode: both;
  animation-duration: 5s;
  position: absolute;
  width: 100vw;
  top: 40vh;
}
@keyframes emphasize {
  0% {
    font-size: 25px;
    opacity: 0;
  }
  25%,
  50% {
    font-size: 60px;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    font-size: 30px;
    text-shadow: #faefc2;
    opacity: 0;
  }
}
